body {
    margin: 0;
    color: white;
    font-family: 'Raleway';
    background-color: hsl(218, 28%, 13%)
}

header{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: hsl(217, 28%, 15%);
}

.nav-items{
    list-style: none;
    display: flex;
}

.nav-item{
    padding: 0 30px;
}

.nav-item:hover{
    cursor: pointer;
}

main{
    position: relative;
}

.first-section{
    background-color: hsl(217, 28%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    /* background-image:  url(images/bg-curvy-desktop.svg); */
}

h1{
    font-size: 40px;
    font-weight: 700;
    width: 720px;
    text-align: center;
    line-height: 1.5;
}

.first-section-text{
    font-size: 20px;
    width: 600px;
    text-align: center;
    font-family: 'Open Sans';
}

.get-started-btn{
    background: linear-gradient(90deg, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
    font-family: 'Raleway';
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 25px;
}

.big-btn{
    height: 50px;
    width: 300px;
    font-size: 18px;
}

.get-started-btn:hover{
    cursor: pointer;
}

h3 {
    margin: 0;
}

.second-section{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 100px 0;
}

.fylo-features{
    width: 40%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fylo-feature-img{
    margin-bottom: 20px;
    height: 80px;
}

.fylo-feature-description{
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: center;
    max-width: 350px;
}

.third-section{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-bottom: 80px;
}

.third-section-text{
    margin: auto 50px;
    vertical-align: middle;
}

.third-section-title{
    font-size: 36px;
    max-width: 400px;
}

.third-section-description{
    font-family: 'Open Sans';
    max-width: 550px;
}

.fylo-demonstration-link{
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 3px;
    width: 166px;
}

.quotes-section{
    display: flex;
    margin: 100px auto;
    width: 90%;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 200px;
}

.quotes-img{
    position: absolute;
    top: -35px;
    left: 30px;
    z-index: -20;
}

.quote{
    background-color: hsl(219, 30%, 18%);
    font-family: 'Open Sans';
    width: 400px;
    box-sizing: border-box;
    padding: 50px 30px 30px 30px;
    border-radius: 5px;
}

.quote-author{
    margin-top: 30px;
    display: flex;
}

.author-img{
    height: 30px;
    border-radius: 50%;
}

.quote-author-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 10px;
}

.author-bf{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 3px;
}

.early-access-form{
    background-color: hsl(217, 28%, 15%);
    width: 900px;
    margin: auto;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: -200px;
    left: 300px;
}

.early-access-title{
    font-size: 32px;
}

.early-access-text{
    text-align: center;
    max-width: 700px;
    font-family: 'Open Sans';
}

.early-access-input{
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.mail-input{
    height: 50px;
    width: 450px;
    border: none;
    border-radius: 25px;
    padding-left: 30px;
}

.small-btn{
    height: 50px;
    width: 200px;
    font-size: 16px;
}

footer{
    background-color: hsl(216, 53%, 9%);
    height: 250px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Open Sans';
}

.main-footer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.footer-main-column{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.fylo-info-footer{
    display: flex;
    width: 350px;
}

.location-icon{
    padding-top: 5px;
}

.fylo-description-footer{
    margin: 0 0 0 20px;
}

.footer-contact-info{
    width: 200px;
    display: grid;
    grid-template-columns: 40px 140px;
}

.nav-footer{
    list-style: none;
    margin: 0;
}

.socialnetworks-footer{
    display: flex;
}

.social-network{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright{
    background-color: hsl(217, 28%, 15%);
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

.footer-link{
    text-decoration: none;
    color: thistle;
}

@media(max-width:375px){
    header{
        padding: 30px 0;
        justify-content: space-evenly;
    }

    .header-logo{
        width: 100px;
    }

    .nav-items{
        padding: 0;
        margin: 0 0 8px 0;
        font-size: 14px;
    }

    .nav-item{
        padding: 0 5px;
    }

    .first-section-img{
        width: 90%;
        max-width: 300px;
    }

    h1{
        width: 90%;
        max-width: 300px;
        font-size: 24px;
    }

    .first-section-text{
        width: 90%;
        max-width: 300px;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .get-started-btn.big-btn{
        max-width: 250px;
        width: 80%;
        font-size: 15px;
    }

    .second-section{
        padding: 50px 0;
    }

    .fylo-features{
        width: 100%;
        margin: 40px 0;
    }

    .fylo-feature-img{
        height: 60px;
    }

    .fylo-feature-title{
        font-size: 16px;
    }

    .fylo-feature-description{
        width: 300px;
        font-size: 13px;
    }

    .third-section{
        flex-direction: column;
    }

    .third-section-img{
        max-width: 300px;
    }

    .third-section-text{
        margin: 0;
        padding-top: 20px;
    }

    .third-section-title{
        font-size: 18px;
    }

    .third-section-description{
        font-size: 14px;
    }

    .fylo-demonstration-link{
        width: 150px;
    }

    .quotes-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
    }

    .quotes-img{
        width: 30px;
        top: -20px;
        left: 40px;
    }

    .quote{
        width: 80%;
        font-size: 10px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .author-bf{
        font-size: 12px;
    }

    .early-access-form{
        width: 90%;
        left: 20px;
        bottom: -260px;
        padding: 50px 20px 10px 20px;
    }

    .early-access-title{
        font-size: 20px;
    }

    .early-access-text{
        font-size: 14px;
    }

    .early-access-input{
        flex-direction: column;
        width: 90%;
    }

    .mail-input,
    .get-started-btn.small-btn{
        width: 100%;
        margin-bottom: 15px;
    }

    .mail-input{
        box-sizing: border-box;
    }

    .small-btn{
        font-size: 14px;
    }

    footer{
        padding-top: 760px;
    }

    .main-footer > img{
        padding-left: 10px;
    }

    .footer-main-column{
        flex-direction: column;
        margin-left: 10px;
    }

    .footer-column:not(.socialnetworks-footer){
        margin-bottom: 40px;
    }

    .fylo-info-footer{
        max-width: 300px;
        font-size: 15px;
    }

    .footer-contact-info{
        grid-template-columns: 30px 140px;
        grid-template-rows: 30px 40px;
        align-items: self-end;
        font-size: 14px;
    }

    .nav-footer{
        padding-left: 0;
    }

    .nav-footer > li{
        padding-bottom: 10px;
    }

    .socialnetworks-footer{
        margin: auto;
    }

    .social-network{
      margin-left: 10px;
    }

    .social-network:nth-child(1){
        margin-left: 0;
    }

    .footer-copyright{
        font-size: 12px;
    }
}